/* ======================================================| 
=====| Reset CSS
======================================================| */

:root {
   --bg-color-01: #121212;
   --card-bg-01: #1E1E1E;
   --text-color-01: #ffffff;
   --text-color-02: #c5c6c7;
   --text-color-03: #8c949c;
   --primary-color-01: #1de9b6;
   --primary-color-02: #F59E0B;
   --primary-color-03: #0d6efd;
   --primary-color-04: #F76402;
   --tertiary-color-01: #1e1e1e;
   --border-color-01: #2c2c2c;
   --border-color-02: #10A781;
}

body {
   background-color: var(--bg-color-01);
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 30px;
   line-height: auto;
   padding-bottom: 6px;
}

a {
   color: var(--primary-color-02);
   font-weight: bold;
   transition: 0.4s;
}

hr {
   color: rgba(255, 255, 255, 0.3);
}

pre {
   color: var(--text-color-01);
}

h2 {
   font-size: 40px;
   font-weight: 900;
   color: var(--card-bg-01);
   line-height: 1;
   margin-bottom: 13px;
   letter-spacing: 1px;
   text-shadow:
      -1px -1px 0 var(--border-color-02),
      1px -1px 0 var(--border-color-02),
      -1px 1px 0 var(--border-color-02),
      1px 1px 0 var(--border-color-02);
}

h5 {
   font-size: 18px;
   font-weight: 600;
   color: var(--text-color-02);
   line-height: 1;
   margin-bottom: 0px;
}

h1.title {
   font-size: 40px;
   font-weight: 900;
   border: 1px solid var(--border-color-02);
   color: var(--card-bg-01);
   background-color: var(--card-bg-01);
   padding: 15px 25px 15px;
   margin-bottom: 30px;
   letter-spacing: 1px;
   text-shadow:
      -1px -1px 0 var(--border-color-02),
      1px -1px 0 var(--border-color-02),
      -1px 1px 0 var(--border-color-02),
      1px 1px 0 var(--border-color-02);
}

/* ======================================================| 
=====| Heading Box
======================================================| */

.heading1__box {
   background-color: var(--card-bg-01);
   border: 1px solid var(--border-color-01);
   border-top: 5px solid var(--border-color-01);
   margin-bottom: 24px;
   padding-top: 40px;
   padding-bottom: 40px;
   min-height: 118px;
}

.heading1__box_left {
   padding-left: 25px;
}

.heading1__box_left h5 span:nth-child(2) {
   margin-left: 50px;
}

.heading1__box_right {
   padding-right: 25px;
}

.Pro_link {
   padding: 10px 20px 0px;
}

.Pro_link a {
   text-transform: uppercase;
   font-size: 12px;
   margin: 0px 5px;
   color: var(--text-color-03);
}

.Pro_link a:nth-child(1) {
   color: var(--primary-color-04);
}

.Pro_link a:nth-child(1):hover {
   color: var(--primary-color-04);
}

.Pro_link a:nth-child(3) {
   color: var(--primary-color-04);
}

.Pro_link a:hover {
   color: var(--primary-color-04);
}

/* ======================================================| 
=====| Module Item
======================================================| */

.module1__item {
   min-height: 300px;
   background-color: var(--card-bg-01);
   border: 1px solid var(--border-color-01);
   border-top: 5px solid var(--border-color-01);
   margin-bottom: 24px;
   padding: 25px;
   transition: 0.3s;
}

.module1__item:hover {
   border-color: var(--border-color-02);
}

.module1__item:hover .module1__data {
   border-color: var(--border-color-02);
}

.module1__data {
   padding-bottom: 11px;
   border-bottom: 1px solid var(--border-color);
   transition: 0.3s;
}

.module1__number {
   background-color: transparent;
   border: 1px solid var(--border-color-01);
   width: 80px;
   height: 60px;
   border-radius: 5px;
   padding-top: 9px;
}

.module1__number h5 {
   font-size: 15px;
   font-weight: bold;
   color: var(--text-color-02);
   margin-bottom: 0px;
}

.module1__number span {
   font-size: 20px;
   font-weight: bold;
   color: var(--text-color-02);
}

.module1__date>span {
   background-color: transparent;
   border: 1px solid var(--border-color-01);
   border-radius: 15px;
}

.module1__date span {
   font-size: 12px;
   font-weight: bold;
   font-style: italic;
   color: var(--text-color-02);
   padding: 4px 10px;
}

.module1__position {
   background-color: transparent;
   border: 1px solid var(--border-color-01);
   width: 80px;
   height: 60px;
   border-radius: 5px;
   padding-top: 18px;
}

.module1__position span {
   color: var(--text-color-02);
   font-size: 13px;
   font-weight: bold;
}

.module1__item h3 {
   font-size: 20px;
   font-weight: bold;
   color: var(--text-color-01);
   margin-bottom: 15px;
}

.module1__content {
   margin-top: 20px;
}

.module1__content h2 span span {
   color: red;
}

.module1__item ul {
   margin: 0px;
   padding: 0px;
}

.module1__item ul li {
   list-style-type: none;
   display: inline-block;
   position: relative;
   padding-left: 20px;
   margin-right: 5px;
   font-size: 13px;
   font-style: italic;
}

.module1__item li::before {
   position: absolute;
   font-family: "Font Awesome 6 Free";
   content: '\f0c8';
   font-weight: 500;
   font-size: 14px;
   left: 0px;
   top: 0px;
   font-style: normal;
}

.module1__item li.date::before {
   content: '\f133';
}

.module1__item li.top {
   position: relative;
   margin-right: 130px;
}

.module1__item li.top::before {
   content: '\f005';
   font-weight: bold;
   color: red;
   top: -1px;
}

.module1__item li.top::after {
   position: absolute;
   content: '\2014 \00A0 BEST DAY EVER';
   top: 0px;
   right: -125px;
   font-size: 13px;
   font-style: italic;
   color: var(--text-color-01);
   font-weight: bolder;
}

.Fi li {
   color: var(--text-color-02);
}

.Fi li::before {
   color: var(--primary-color-01);
}

.Up li {
   color: var(--text-color-01);
}

.Up li::before {
   color: var(--primary-color-04);
}

.Fi li.date b {
   color: var(--text-color-01);
}

.col.Ongoing .module1__item {
   border-color: var(--border-color-02);
   border-top: 5px solid var(--border-color-02);
}